@import '../../styles//config/variables';

a {
  text-decoration: none;
}

.userAccount__main {
  margin: 0 auto;
  position: relative;
}

.wrapper--flex {
  display: flex;
  width: 700vw;
  align-items: flex-start;
  transition: all 0.3s;
  section {
    width: 100vw;
    @include min-sm {
      max-width: 750px;
    }
    padding-left: 15px;
    padding-right: 15px;
    //height: 70vh;
    .section__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.button-link {
  border: saddlebrown 2px solid;
  text-decoration: none;
  text-align: center;
}
