@import '../../styles//config/variables';

a {
  text-decoration: none;
}

.userAccount__main {
  margin: 0 auto;
  position: relative;
}

.button-link {
  border: saddlebrown 2px solid;
  text-decoration: none;
  text-align: center;
}

.userAccount__wrapper {
  flex-direction: row;
}
