@import '../../styles//config/variables';

a {
  text-decoration: none;
}

.userAccount__main {
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.wrapper--flex {
  display: flex;
  width: 700vw;
  align-items: flex-start;
  transition: all 0.3s;
  section {
    width: 100vw;
    @include min-sm {
      max-width: 750px;
    }
    padding-left: 15px;
    padding-right: 15px;
    //height: 70vh;
    .section__content {
      display: flex;
      // flex-direction: column;
      align-items: center;
    }
  }
}

.button-link {
  border: saddlebrown 2px solid;
  text-decoration: none;
  text-align: center;
}

.userAccount__wrapper {
  flex-direction: row;
}

.userAccount--demand__group__Headline {
  border-bottom: solid 1px $color--strong;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: $color--strong;
  margin-bottom: 20px;
  //margin-top: 30px;
  .userAccount--demand__group__Headline__text {
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
  }
  .userAccount--demand__group__Headline__button {
  }
}

.demandContainer__group__Headline__text {
  border-bottom: solid 1px $color--strong;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: $color--strong;
  margin-bottom: 20px;
  font-weight: bold;
}

.userAccount__tabTitle {
  margin-bottom: 2em;
}
