@import '../../styles/config/variables';
@import '../../styles/layout/button';

.nav--espace {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 0;
  .icon-left-corner {
    width: 15px;
  }
  .icon-right-corner {
    width: 25px;
  }
}

.boxPuzzel {
  background-color: #fff;
  position: relative;
  margin-top: 50px;
  width: 100%;
  text-align: center;
  padding: 50px 15px 70px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #414143;

  &:before {
    content: '';
    position: absolute;
    background-image: url('../../assets/svg/white-border.svg');
    width: 100%;
    height: 61px;
    top: -1px;
    left: 0;
    position: absolute;
    z-index: 2;
    //transform: translateY(-100%);
    background-repeat: no-repeat;
    background-position-x: center;
  }
  &:after {
    content: '';
    position: absolute;
    background-image: url('../../assets/svg/pink-border.svg');
    width: 100%;
    height: 61px;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    background-repeat: no-repeat;
    background-position-x: center;
  }
  &.boxPuzzel--last {
    &::after {
      display: none;
    }
  }
  .feedback__text {
    margin-bottom: 20px;
  }
}

.espace__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  .espace__hero__image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: relative;
    border: solid 4px #423977;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 60px;
      height: 60px;
      background-image: url('../../assets/svg/puzzelGroup.svg');
      right: -20px;
      bottom: -20px;
      background-repeat: no-repeat;
      background-size: contain;
    }
    &:after {
      transform-origin: left top;
      @keyframes rotatePuzzel {
        0% {
          transform: rotate(0deg);
        }
        80% {
          transform: rotate(360deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      // animation: rotatePuzzel 3s infinite -1.5s;
    }
    &:before {
      bottom: -20px;
      right: -20px;
      transform-origin: left top;
      @keyframes rotatePuzzel {
        0% {
          transform: rotate(0deg);
        }
        80% {
          transform: rotate(360deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      // animation: rotatePuzzel 3s infinite 0s;
    }
  }
  .espace__hero__text {
    color: #423977;
    font-weight: 300;
    margin-bottom: 4px;
    font-size: 12px;
  }
  .espace__hero__name {
    font-size: 20px;
    margin-bottom: 10px;
    color: $color--strong;
    font-weight: bold;
    text-transform: uppercase;
  }

  &.espace__hero--noDeco {
    ::after,
    ::before {
      display: none;
    }
  }
}

.header--30vh {
  .espace__hero {
    transform: scale(0.7);
  }
}

.header--espace {
  height: 50vh;
  // position: fixed;
  @include min-sm {
    height: 50vh;
  }
}

.body--espace {
  background-color: $color--light;
  margin-bottom: 10vh;
  main {
    // margin-top: 50vh;
    margin-top: 0vh;
    padding: 0;
    @include min-sm {
      margin-top: 50vh;
    }
    z-index: 3;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
  }

  .souvenir__commentairLink {
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    align-self: flex-start;
    text-align: left;
  }
}

.authorBox {
  margin-bottom: 30px;
  .authorBox__name {
    color: #423977;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
  }
  .authorBox__role {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
  }
  .authorBox__image {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 50%;
    overflow: hidden;
  }
}

.boxPuzzel__souvenir {
  // opacity: 0;
  transform: translateY(-50px);
  transition: all 0.5s;
  // max-width: 500px;

  &:first-child {
    margin-top: 0;
  }
  padding-top: 90px;
  &::after {
    //background-image: url("../images/icons/pizzelBorder--pink--bottom.svg");
    background-image: url('../../assets/svg/white-border.svg');
    //transform:rotate(180deg);
    background-color: #ede7f2;
  }
  &::before {
    background-image: url('../../assets/svg/pink-border.svg');
    //transform:rotate(180deg);
    background-color: #fff;
    //display: none;
  }
  .souvenir__text {
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 30px;
  }
  .souvenir__headline {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 15px;
  }
  .souvenir__button {
    margin-bottom: 30px;
  }
  .souvenir__image {
    width: 100%;
    margin-bottom: 30px;
    width: calc(100% + 30px);
    //left: -15px;
    position: relative;
    img {
      width: 100%;
    }
  }
}
