.userModify__nav--title {
  padding-left: 0 !important;
}
.userModify__nav--photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 1em;
}

// .userModify__nav--content {
//   // margin-top: 2.8em;
// }
.userModify__main {
  margin: 0 auto;
}

.userModify__form {
  margin-top: 2em;
}

.userModify__groupImage {
  margin-top: 1em;
}

.userModify__image {
  border-radius: 50%;
  height: 85px;
  width: 85px;
  object-fit: cover;
}

.userModify__button--save {
  margin: 17em auto 1.5em;
}
