@import '../../styles/config/variables';

.userAccount__navContainer {
  // max-width: 800px;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: 100;
}
.userAccount__nav {
  display: flex;
  justify-content: space-between;
  // width: 100%;
  max-width: 1140px;
  margin: 0.2em auto;

  padding: 0.5em 1em;

  @media (min-width: 992px) {
    padding: 0 10%;
  }
}

.userAccount__nav--photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.userAccount__nav--logo {
  width: 30px;
  height: 23px;
  margin-top: 0.2em;
}

.userAccount__navSlider {
  z-index: 100;
}
