.userAccount__navContainer {
  // max-width: 800px;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.userAccount__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5em 1em;
  @media (min-width: 992px) {
    padding: 0 10%; // desktop
  }
}

.userAccount__nav--photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.userAccount__nav--logo {
  width: 30px;
  height: 23px;
  margin-top: 0.2em;
}
